 body {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
}

* {
    box-sizing: inherit;
}

header {
    margin: 0;
    background-color: white;    
    padding: 0;
}

div#menu-container {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: right;
   /* border: solid 1px cyan;*/
}

ul#menu {
    display: inline-block;
    list-style-type: none;
    /*border: solid 1px blue;*/
    margin: 0;
    margin-bottom: -5px;
}

ul#menu li {
    display: block;
    text-decoration: none;
    float: left;
    margin: 0;
}

ul#menu li a {
    display: block;
    text-decoration: none;
    color: black;
    /*border: solid 1px red;*/
    padding: 20px 10px; 
}

ul#menu li a:hover {
    background-color: rgba(25, 25, 25, 0.05);
}