 body {
    box-sizing: border-box;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: black;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: 'Roboto',sans-serif; 
    font-weight: 500;
}

* {
    box-sizing: inherit;
    font-family: inherit;
}

header {
    margin: 0;
    background-color: white;    
    padding: 0;
}

div#menu-container {
    width: 70%;
    margin: 0 auto;
    padding: 0;
    text-align: right;
}

ul#menu {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    margin-bottom: -5px;
}

ul#menu li {
    display: block;
    text-decoration: none;
    float: left;
    margin: 0;
}

ul#menu li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 20px 10px; 
}

ul#menu li a:hover {
    background-color: rgba(25, 25, 25, 0.05);
}

#banner {
    width: 100%;
    display: flex;
    flex-direction: row;
}

#banner #intro-banner {
    width: 30%;
    color: whitesmoke;
    align-self: center;
    position: relative;
    left: 15%;
    text-align: left;
}

#banner #intro-banner h1 {

}

#banner #image-banner {
    width:70%;
}

#banner #image-banner img{
    width: 100%;
}